<%
content_for :page_includes do
    stylesheet_link_tag('main') + 
    stylesheet_link_tag('main-variable') + 
    javascript_include_tag('main')
end
%>

<div class="column left one_third_width">
    <h2>Projects</h2>
    <div class="column_post project">
        <div>
            <%= image_tag "sassyseven.png" %>
            <b>Sassy Seven</b>
            iPhone application created for Apple iOS Hackathon 2013
            <div class="clear"></div>
        </div>
        <div class="more_info"><div class="left">Technologies: Obj-C, iOS</div><div class="right">Posted: 03/20/1994</div></div>
        <div class="clear"></div>
    </div>
    <div class="column_post project">
        <div>
            <%= image_tag "sts.png" %>
            <b>Shake to Shuffle</b>
            Android Application intended to bring iOS shake to shuffle functionality to Android
            <div class="clear"></div>
        </div>
        <div class="more_info"><div class="left">Technologies: Obj-C, iOS</div><div class="right">Posted: 03/20/1994</div></div>
        <div class="clear"></div>
    </div>
    <div class="column_post project">
        <div>
            <%= image_tag "ttc.png" %>
            <b>Texts To Computer</b>
            Android app that sends text messages to Xmpp server, allowing messages to be sent from a computer
            <div class="clear"></div>
        </div>
        <div class="more_info"><div class="left">Technologies: Obj-C, iOS</div><div class="right">Posted: 03/20/1994</div></div>
        <div class="clear"></div>
    </div>
    <h3 class="more_info_link"><a href="projects.html">See All My Projects</a></h3>
</div>
<div class="column left one_third_width">
    <h2>Recent Posts</h2>
    <div class="column_post">
        <b>New Idea!</b>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque et enim orci. Praesent lobortis volutpat rutrum.
        <div class="more_info"><div class="left">Category: Gore</div><div class="right">Posted: 03/20/1994</div></div>
        <div class="clear"></div>
    </div>
    <div class="column_post">
        <b>Code Blocks Failures</b>
        Unteger lacinia, erat eu volutpat facilisis, eros leo varius tellus, sit amet ultricies ligula augue vel ipsum.
        <div class="more_info"><div class="left">Category: IDEs Suck</div><div class="right">Posted: 04/08/1994</div></div>
        <div class="clear"></div>
    </div>
    <div class="column_post">
        <b>Who is this guy??</b>
        Duis diam magna, facilisis non pharetra sit amet, consequat sed sapien. Vivamus quam lacus, aliquam blandit ultricies vitae, egestas at mi.
        <div class="more_info"><div class="left">Category: Mystery</div><div class="right">Posted: 09/16/1996</div></div>
        <div class="clear"></div>
    </div>
    <div class="column_post">
        <b>Why am I even doing this?</b>
        <a>Vun volutpat libero dui, vitae scelerisque mauris tristique eu. Fusce nec nisi ut lorem dapibus fringilla molestie sit amet nisl.</a>
        <div class="more_info"><div class="left">Category: Mystery</div><div class="right">Posted: 06/07/1963</div></div>
        <div class="clear"></div>
    </div>
    <h3 class="more_info_link"><a href="more_posts.html">See more posts</a></h3>
</div>
<div class="column right one_third_width">
    <h2>About Me</h2>
    <div class="column_post">
        <b>My name is Mike Lyons</b>
        , and I am a Software Engineering student at Rochester Institute of Technology. I am a dedicated and brilliant programmer who enjoys applying his programing knowledge to solve a variety of problems. I am currently looking for Co-ops or Internships as a software engineer. 
        <h3 class="more_info_link">More About Me</h3>
    </div>
    <div class="column_spacer"></div>
    <h2>Find Me Elsewhere</h2>
    <div class="recent_post social_media">
        <div><b><span class="icons1">F</span> <span class="social_media_link">Facebook:</span></b> Personal everyday updates</div>
        <div><b><span class="icons2">Z</span> <span class="social_media_link">Github:</span></b> A majority of my projects</div>
        <div><b><span class="icons2">M</span> <span class="social_media_link">Email:</span></b> The fastest way to contact me</div>
    </div>
</div>