body
{
    font-family: 'Lato', sans-serif;
    line-height: 140%;
}

.full_width
{
    margin: 0px auto;
    max-width: 960px;
}

.one_third_width
{
    width: 320px;
}

.two_thirds_width
{
    width: 640px;
}

.left
{
    float: left;
}

.right
{
    float: right;
}

.clear
{
    clear: both;
}

#header
{
    background-color: white;
}

#name, #name:visited, #name:link
{
    float: left;
    font-size: 26px;
    margin: 10px 0 8px 8px;
    color: #000;
}

#menu
{
    float: right;
    margin: 10px 8px 12px 0;
    font-size: 20px;
}

#hidden_menu
{
    display: none;
}

#menu a
{
    margin: 0 10px 0 0;
}

.hover:link
{
    text-decoration: none;
    color: black;
}

.hover:visited
{
    color: black;
}

.hover:hover
{
    color: #8b8c83;
    cursor: pointer;
}

#image_area
{
    background-image: image-url("street.jpg");
    background-size: cover;
    background-position: 50% 40%;
    height: 280px;
    max-width: 1200px;
    margin: 0px auto;
}

#content_area
{
    background-color: white;
    padding: 12px 0 0 0;
}

.column
{
    box-sizing: border-box;
    padding: 10px;
}

.column_spacer
{
    height: 10px;
}

#content_area h2
{
    color: #8b8c83;
    font-size: 20px;
    border-bottom: solid 1px #8b8c83;
    padding: 0 0 2px 0;
    margin: 0 0 15px 0;
}

#content_area h3, h3 a:visited, h3 a:link
{
    color: #8b8c83;
    font-size: 15px;
    margin: 0 0 5px 5px;
    text-decoration: none;
}

.more_info_link
{
    text-align: right;
}

#content_area b
{
    color: #8b8c83;
}

.column_post
{
    margin: 0 0 20px 0;
}

.more_info
{
    color: #8b8c83;
    font-size: 12px;
    font-weight: 300;
}

.icons1
{
    font-family: iconsfont1;
    font-size: 30px;
}

.icons2
{
    font-family: iconsfont2;
    font-size: 30px;
}

.social_media div
{
    height: 24px;
}

.social_media_link
{
    display: inline-block;
    margin: 5px 0 10px 0; 
}

.project
{
    
}

.project img
{
    width: 60px;
    height: 60px;
    float: left;
    margin: 0 10px 0 0;
}

.square_list
{
    list-style-type: square;
    padding: 0px 0px 0px 25px;
}

.square_list, a:link, a:visited
{
    color: #8b8c83;
    text-decoration: none;
}